*{
    font-family: 'PT Sans', sans-serif;
    font-size: 6vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(248,248,255);
    display: block;
    background-color: black;
    text-align: center;
}

h3{
    text-align: center;
}

label{
    color: whitesmoke;
    font-size: 5vh;
    font-style: italic;
}

body{
    background-color: #151320;
    height: 100vh;
    display: block;
    place-items: center;
}

input{
    width: 20px; height: 20px;
    border-radius: 25%;
    transition: box-shadow .6s;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    appearance: none; -webkit-appearance: none;
   }
  
  input:checked{ 
    box-shadow: inset 0 0 0 20px #673FD7;
    background-color: #a4508b;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    
} 

.cards{
    margin: 25px;
    justify-content: center;
    text-align: center;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.details{
    padding: 20px 10px;
    justify-content: center;
    text-align: center;
    
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
    margin: 10px 0 15px 0;
}

.button {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 50px;
    font-weight: 500;
    height: 1.8rem;
    padding: 0 0.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .8s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .5s;
}

input[type=text]{
    width: 350px;
    color: white;
    text-align: center;
    height: 50px;
    position: relative;
    font-size: 0.8em;
    background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    display: inline-block;
    border-radius: 9999em;
}

